<!doctype html>
<html>
<head>

<style>
h1{
    color:white;
}
body{
    background-image: url('nature.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
</head> 
</html>